{{ define "say_hi" }}
  <p>Hi {{ .env.HELLO }} {{ .world }}</p>
{{ end }}
<html lang="en">
  <head><title>Hello Docker</title></head>
  <body>
    <p>Hello {{ .HELLO }}! I'm in {{ .env }}.</p>
    {{ template "say_hi" (extend "env" . "world" "everyone") }}
  </body>
</html>
